* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(251, 240, 226);
  text-align: justify center;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  color: #6b32e1;
  margin: 12px 0 0 0;
  background-color: antiquewhite;
}

p2 {
  margin: 12px 0 0 0;
}

a {
  color: #000;
  text-decoration: none;
}

/* small {
  color: #537385;
} */

header {
  background-color: #6b32e1;
  color: #fff;
  padding: 3px;
  height: 26px;
}

header > img {
  margin-right: 10px;
  width: 20px;
  height: 30px;
  border: 2px black solid;
  vertical-align: top;
}

form {
  padding: 15px;
}

label {
  float: left;
  width: 60px;
}

input {
  display: block;
  width: calc(100% - 60px);
  padding: 4px 2px;
  margin: 0 0 10px 0;
  border: solid 1px #aacfe4;
}

textarea {
  border: solid 1px #95abbb;
  width: 80%;
}

.news-item {
  margin-left: 20px;
  padding: 0 15px;
}

.news-position {
  color: #000;
}

.news-info {
  margin-left: 3px;
  color: #000;
}

/* .content {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
